@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #0d0f18;
}

.root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.waving-hand{
  animation: wave 2s infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.laptop-overlay {
  z-index: 1; /* lower than navbar */
}
